@charset "utf-8";
/* CSS Document */
#container {
	width: 1200px;
	height: auto;
	margin: 0px auto;
}


/*HEADER*/

#header{
	width: 100%;
	height: auto;
}
#topmenu{
	width: 100%;
	height: 80px;
	float: left;
}
#logo {
	width: 200px;
	float: left;
}
#menu{
	width: 1000px;
	float: right;
	height: 40px;
	margin: 20px 0px;
}
#menu ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
#menu ul li {
	float: left;
	margin: 0px 30px;
	line-height: 40px;
}
#menu ul li a {
	text-decoration: none;
	color: #1a8e4a;
	font-weight: bold;
	display: block;
}
#menu ul li a:hover {
	color: #f58831;
	border-top: #f58831 solid 2px;
	
}
#banner {
	width: 100%;
	height: 400px;
	background-image: url("../images/banner-1.jpg");
	clear: both;
	
}
/*CONTENT: ;*/
#content {
	width: 100%;
	height: auto;
	float: left;
	margin: 10px 0px;
}
#left-image {
	width:500px;
	float: left
}
#left-image img {
	width: 500px;
	height: 350px;
	border-radius: 20px;
}
#right-content {
	width: 680px;
	float: right;
	padding: 10px;
	text-align: justify;
	}

